<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">    
        <link rel="stylesheet" href="/css/icon-font.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/8fddbef1ba.js" crossorigin="anonymous"></script>
    </head>
		
    <body>
        <nav>
            <a class="logo" href="/login/user">Paradise Inn</a>
            <ul class="nav-links">
               <li>
                   <a href="/login/user">HOME</a>
                </li> 
               <li>
                   <a href="#">SPECIAL OFFERS</a>
                </li> 
               <li>
                   <a href="#">EVENTS</a>
                </li> 
               <li>
                   <a href="#">CONTACT</a>
                </li> 
                <li>
                    <a href="/login/user/bookings">MY BOOKINGS</a>
                 </li>
                 <li>
                    <a href="/logout">LOG OUT</a>
                 </li>  
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        <section class="section-bookings">
            <div class="box">
                <p class="myBooking__title"><%= name %></p>
                <div class="box__grid">
                    <div class="box__grid-1">
                        <img class="room__picture" src="<%=picture %>" alt="picture">   
                    </div>
                    <div class="box__grid-2">
                        <ul class="ul__myBooking">
                            <% description.forEach((item) => { %>
                            <li class="li__booking"><%= item %></li>
                            <% }) %>
                        </ul>    
                    </div>
                    <% if(!start_date) { %>
                        <div class="box__grid-3 u-center-text"> 
                            <p class="price">Price: <%= price %></p>
                            <form action="/login/user/bookings" method="POST">
                                <div class="u-display-block">
                                    <label>Start date:</label>
                                    <input type="date" name="start_date">
                                </div>
                                <div>
                                    <label class="letter-space">End date:</label>
                                    <input type="date" name="end_date">
                                </div>
                                <button type="submit" class="btn btn--white btn--white-room-booking formButton">Confirm Booking</button>
                            </form>
                        </div>
                    <% } else { %>
                        <div class="box__grid-3 u-center-text">
                            <p style="margin-bottom: 1rem;">Start date: <%= start_date.toLocaleDateString() %></p>
                            <p>End date: <%= end_date.toLocaleDateString() %></p> 
                        </div>
                    <% } %>
                </div>
            </div>
        </section>
    </body>
</html>